@import '../../styles/_variable.styl'

.header {
	
	.logo {
		width: 120px;
  		height: 31px;
  		background-color: $gray-dark;
  		border-radius: 6px;
  		margin: 15px 28px 15px 0;
  		float: left;

  		p {
  			color: #fff;
  			padding: 3px 21px;
  			font-weight: 500;  			
  		}
	}

	&-menu {
		

		&__item {
			line-height: 64px;
		}
	}
}

.footer {
	
	p {
		text-align: center;
		font-size: 0.95em;
	}
}