.property {
  &-item {
    
    padding: 6px;

    section {
      padding: 6px;
      border: 1px solid #fff;
      background-color: #fff;
      border-radius: 4px;

      &:hover {
        border-color: #1890ff;
      }
    }

    &__img {
      div {
        height: 100%;
        width: 100%;

        img {
          width: 300px;
          height: 200px;
        }
      }
    }

    &__info {
      header {
        h4 {
          text-transform: capitalize;
          width: 280px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-size: 0.8em;
        }

        span {
          position: absolute;
          top: -10px;
          right: 15px;
          font-size: 1.3em;
          background-color: #f96d01;
          color: #fff;
          border-bottom-right-radius: 9px;
          border-bottom-left-radius: 9px;
          padding-bottom: 12px;
          padding-top: 12px;
          width: 60px;
          text-align: center;
        }
      }

      content {
        summary {
          height: 110px;
          margin-bottom: 0;
          font-size: 0.9em;
          position: absolute;
          top: 60px;
          bottom: 40px;
          overflow: hidden;
          text-align: justify;
          padding-right: 15px;
          text-indent: 2em;
        }
      }

      footer {
        position: absolute;
        top: 170px;
        width: 94%;
        padding: 4px;
        background-color: #f0f0f0;


        i {
          &.icon {
            position: relative;
            margin-right: 30px;
            display: inline-block;
            vertical-align: middle;
            height: 16px;

            &-guests {
              width: 19px;
              background: url(https://www.holidayhouses.co.nz/Images/Icons-sa88c611d11.png) 0 -1717px no-repeat;

              span {
                left: 24px;
              }

            }

            &-bedrooms {
              width: 23px;
              background: url(https://www.holidayhouses.co.nz/Images/Icons-sa88c611d11.png) 0 -1637px no-repeat;

              span {
                left: 27px;
              }
            }

            &-bathrooms {
              width: 19px;
              background: url(https://www.holidayhouses.co.nz/Images/Icons-sa88c611d11.png) 0 -1556px no-repeat;

              span {
                left: 22px;
              }

            }
          }

          span {
            font-style: normal;
            color: #747670;
            position: absolute;
            top: -3px;
          }
        }

        a {
          font-size: 0.9em;
          text-decoration: underline;
          right: 10px;
          position: absolute;
        }
      }
    }
  }
}