@import '../../styles/_variable.styl'

.bank-item {
	padding: 20px !important;
	&__card {
		width: 100%;
		content {
			section {
				content {
          p {
            font-size: 0.9em;
          }
        }
			}
		}		
	}

  .bank-action {
    display: inline-flex !important;
    &__info {
      margin-left: 6px;
    }
  }
}

